.name {
  position: fixed;
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  height: 10px;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 9.6px;
  left: 1.41vw;
}

.number {
  position: absolute;
  height: 10px;
  left: 31.56vw;
  top: 1.35vw;
  font-size: 18px;
  font-style: normal;
}

.number_information {
  position: absolute;
  height: 0;
  left: 27.68vw;
  top: 2.23vw;
  font-size: 14px;
  font-style: normal;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #57a30a;
  height: 4vw;
  width: 100%;
  border-bottom: 1px solid #000;
}

.header button {
  height: 50px;
  padding-bottom: 50px;
  top: 0.5vw;
  border: 0px;
  position: absolute;
  font-size: 18px;
  font-style: normal;
}

.header button:hover {
  box-shadow: 0px 2px 0 0 black;
}

.services {
  left: 56.61vw;
}

.about_me {
  left: 66.3vw;
}

.guarantees {
  left: 77.86vw;
}

.contacts {
  left: 90.05vw;
}
