.img {
  height: 45.36vw;
}

.stroke {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 21px;
  border: 4px solid #fff;
  box-shadow: 0px 0px 25px 5px #fff;
  width: 1635px;
  height: 582px;
  top: 7.55vw;
  left: 2.2vw;
}

.stroke p {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
}

.stroke_header {
  top: 4.48vw;
  left: 30.57vw;
  color: #fff;
  font-family: Jomhuria;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
}

.stroke_fulltext {
  top: 10.05vw;
  left: 30.99vw;
  color: #fff;
  font-family: Jomhuria;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
}

.quality {
  position: absolute;
  top: 49.95vw;
  left: 39.53vw;
  color: #000;
  text-align: center;
  font-family: Imprima;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}
