.img {
  height: 45.36vw;
}

.stroke {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 21px;
  border: 4px solid #fff;
  box-shadow: 0px 0px 25px 5px #fff;
  width: 1635px;
  height: 582px;
  top: 7.55vw;
  left: 2.2vw;
}

.stroke p {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
}

.stroke_header {
  top: 4.48vw;
  left: 30.57vw;
  color: #fff;
  font-family: Jomhuria;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
}

.stroke_fulltext {
  top: 10.05vw;
  left: 30.99vw;
  color: #fff;
  font-family: Jomhuria;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
}

.quality {
  position: absolute;
  top: 49.95vw;
  left: 39.53vw;
  color: #000;
  text-align: center;
  font-family: Imprima;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

.svg_support {
  position: absolute;
  left: 19.11vw;
  top: 56.72vw;
}

.svg_meticulousness {
  position: absolute;
  left: 46.09vw;
  top: 56.72vw;
}

.svg_carry {
  position: absolute;
  left: 72.5vw;
  top: 56.72vw;
}

.p_timely {
  position: absolute;
  left: 15.05vw;
  top: 70.31vw;
}

.p_meticulousness {
  position: absolute;
  left: 41.04vw;
  top: 70.31vw;
}

.p_carry {
  position: absolute;
  left: 66.98vw;
  top: 70.31vw;
}

.feedback_first {
  width: 22.5vw;
  height: 29.69vw;
  left: 71.67vw;
  top: 89.74vw;
  position: absolute;
  border-radius: 37px;
  border: 4px solid #000;
  background: #fff;
}

.feedback_second {
  width: 22.5vw;
  height: 29.69vw;
  left: 41.04vw;
  top: 101.25vw;
  position: absolute;
  border-radius: 37px;
  border: 4px solid #000;
  background: #fff;
}

.feedback_third {
  width: 22.5vw;
  height: 29.69vw;
  left: 10.42vw;
  top: 110.78vw;
  position: absolute;
  border-radius: 37px;
  border: 4px solid #000;
  background: #fff;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 3.71vw;
  top: 230.42vw;
  border-top: 1px solid #000;
  background: #57a30a;
}

.feedback_block p {
  position: absolute;
  background: white;
  color: #000;
}

.feedback_img {
  width: 22.5vw;
  height: 9.43vw;
  border-radius: 1.93vw 1.93vw 0px 0px;
}

.car_information {
  left: 0.68vw;
  top: 10.1vw;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feedback_avatar {
  position: absolute;
  width: 6.3vw;
  height: 6.3vw;
  left: 15.21vw;
  top: 10.05vw;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: white;
}

.feedback_div {
  position: absolute;
  width: 20.36vw;
  height: 9.69vw;
  left: 1.09vw;
  top: 18.8vw;
  border-radius: 27px;
  border: 1px solid #000;
  background-color: white;
}

.feedback_text {
  position: absolute;
  top: 0.57vw;
  left: 0.8vw;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feedback {
  top: 17.29vw;
  left: 9.79vw;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
